* {
    font-family: 'Times New Roman', Times, serif;
}

.header {
    color: blue;
    font-size: 44px;
    text-align: center;
}

ul {
    font-size: 30px;

}

ol {
    font-size: 30px;
}

h2 {
    font-size: 34px;
}
p {
    font-size: 20px;
}